.product__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;

  @include border(1px, getcolor('blue-accent-color'));

  border-radius: 5px;
  background-color: getcolor('blue-accent-color');
  color: getcolor('primary-white-color');

  @include font(700, 14px, 16px);

  text-transform: uppercase;
  &:hover {
    background-color: getcolor('primary-white-color');
    color: getcolor('blue-accent-color');
  }
}
